<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:macro name="robot_base" params="prefix">

  <joint name="${prefix}Cube_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 3.14159" xyz="-0.39823 0.01689 1.10641"/>
    <parent link="${prefix}base_link"/>
    <child link="${prefix}Cube_link"/>
  </joint>

  <joint name="${prefix}Cube.001_link_joint" type="fixed">
    <origin rpy="1.57080 0.00000 -0.00000" xyz="0.00000 0.75000 0.75000"/>
    <parent link="${prefix}Cube_link"/>
    <child link="${prefix}Cube.001_link"/>
  </joint>

  <joint name="${prefix}Cube.002_link_joint" type="fixed">
    <origin rpy="1.57080 0.00000 1.57080" xyz="0.75000 0.00000 0.75000"/>
    <parent link="${prefix}Cube_link"/>
    <child link="${prefix}Cube.002_link"/>
  </joint>

  <joint name="${prefix}Cube.003_link_joint" type="fixed">
    <origin rpy="1.57080 0.00000 1.57080" xyz="-0.75000 0.00000 0.75000"/>
    <parent link="${prefix}Cube_link"/>
    <child link="${prefix}Cube.003_link"/>
  </joint>

  <joint name="${prefix}Cube.004_link_joint" type="fixed">
    <origin rpy="1.57080 0.00000 -0.00000" xyz="0.00000 -0.75000 0.75000"/>
    <parent link="${prefix}Cube_link"/>
    <child link="${prefix}Cube.004_link"/>
  </joint>
  <!-- Base footprint (referencia en el suelo) -->
  <link name="${prefix}base_footprint"/>

  <joint name="${prefix}base_footprint_to_base_link" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.75"/>
    <parent link="${prefix}base_footprint"/>
    <child link="${prefix}base_link"/>
  </joint>
  <link name="${prefix}base_link">
    <collision name="base.002_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.79381 0.00080 1.74991"/>
      <geometry>
        <cylinder radius="0.11924" length="1.36590"/>
      </geometry>
    </collision>
    <collision name="base_collision">
      <origin rpy="0.00000 0.00000 1.57" xyz="0.27566 0.00094  0.67515"/>
      <geometry>
        <box size="0.66927 1.65373 0.76887"/>
      </geometry>
    </collision>

    <inertial>
      <inertia ixx="35.87325" ixy="0.01179" ixz="0.35204" iyy="28.19819" iyz="-4.58962" izz="14.42189"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.01505 -0.17615 0.70136"/>
      <mass value="40.00000"/>
    </inertial>

    <visual name="arm_base">
      <material name="Material.001"/>
      <origin rpy="0.00000 0.00000 1.57" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
          <mesh filename="package://msr_robot/meshes/dae/Cylinder.013.dae" scale="-0.11826 -0.11826 -0.02102"/>
      </geometry>
    </visual>

    <visual name="base">
      <material name="Material.001"/>
      <origin rpy="0.00000 0.00000 1.57" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
          <mesh filename="package://msr_robot/meshes/dae/Cylinder.002.dae" scale="-0.11826 -0.11826 -0.02102"/>
      </geometry>
    </visual>

  </link>

  <link name="${prefix}Cube_link">
    <collision name="Cube_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="1.50000 1.50000 0.10000"/>
      </geometry>
    </collision>

    <visual name="wall">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <box size="1.50000 1.50000 0.10000"/>
      </geometry>
    </visual>
  </link>

  <link name="${prefix}Cube.001_link">
    <collision name="Cube.001_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.55517 -0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.10000"/>
      </geometry>
    </collision>

    <visual name="wall1">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.57508 -0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.01000"/>
      </geometry>
    </visual>
  </link>

  <link name="${prefix}Cube.002_link">
    <collision name="Cube.002_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.56306 0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.10000"/>
      </geometry>
    </collision>

    <visual name="wall2">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.57508 -0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.01000"/>
      </geometry>
    </visual>
  </link>

  <link name="${prefix}Cube.003_link">
    <collision name="Cube.003_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.56370 0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.10000"/>
      </geometry>
    </collision>

    <visual name="wall3">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.57508 0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.01000"/>
      </geometry>
    </visual>
  </link>

  <link name="${prefix}Cube.004_link">
    <collision name="Cube.004_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.55939 0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.10000"/>
      </geometry>
    </collision>

    <visual name="wall4">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.57508 -0.00000"/>
      <geometry>
        <box size="1.50000 0.36183 0.01000"/>
      </geometry>
    </visual>
  </link>

</xacro:macro>

</robot>